<div class="container-fluid">
    <p>
        {{$ctrl.title}}
    </p>
    <form ng-submit="update()">
        <div class="form-horizontal">
            <hr />

            <div class="form-group">
                <label class="control-label col-md-2">Title</label>
                <div class="col-md-10">
                    <input type="text" name="title" required class="form-control" ng-model="title" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Description</label>
                <div class="col-md-10">
                    <input type="text" name="description" required class="form-control" ng-model="description" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="{{$ctrl.button}}" class="btn btn-default" />
                    <span class="text-success">{{message}}</span>
                </div>
            </div>
        </div>
    </form>
</div>
