<div class="container-fluid">
    <p>
        {{$ctrl.title}}
    </p>
    <form ng-submit="$ctrl.update()">
        <div class="form-horizontal">
            <hr />
            <div class="form-group">
                <label class="control-label col-md-2">Title</label>
                <div class="col-md-8">
                    <input type="text" name="title" required class="form-control" ng-model="$ctrl.post.title" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Detail</label>
                <div class="col-md-8">
                    <input type="text" name="detail" required class="form-control" ng-model="$ctrl.post.detail" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="{{$ctrl.button}}" class="btn btn-default" />
                    <input type="submit" value="Cancel" class="btn btn-default" />
                    <span class="text-success">{{message}}</span>
                </div>
            </div>
        </div>
    </form>
</div>
