<div class="container-fluid">
    <div class="form-horizontal">
        <hr />

        <div class="form-group">
            <label class="control-label col-md-2">Title</label>

            <div class="col-md-8">
                <input type="text" name="title" required class="form-control" ng-model="$ctrl.post.title" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Detail</label>
            <div class="col-md-8">
                <input type="text" name="detail" required class="form-control" ng-model="$ctrl.post.detail" />
            </div>
        </div>
    </div>
    <a class="btn" href="#!/posts/post/{{$ctrl.post.id}}/edit">Edit</a>
    <a class="btn" href="#!/posts/post/{{$ctrl.post.id}}/delete">Delete</a>
</div>
